body {
   display: flex;
   flex-direction: column;
   font-family: "roboto";
   margin: 0; 
   padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px 16px 100px;
}

ul {
    list-style: none;
    display: flex;
    font-size: 16px;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.section-2 {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px 100px 50px 100px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
    height: auto;
    flex: 0 0.5 auto;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-image {
    height: 250px;
    width: auto;
    flex: 0 2 0;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 16px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-family: "roboto";
    font-weight: 600;
    width: 100px;
    height: 2em;
    border-radius: 8px;
    flex: 0 0 auto;
}

button.call {
    border: 1px solid white;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 40px 100px 100px 100px;
    align-items: center;
    gap: 40px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
}

.four-items {
    display: flex;
    gap: 16px;
}

.coffee {
    width: 150px;
    height: auto;
    border-radius: 5px;
    border: 0.5px solid #3882F6;
    border-width: 4px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 50px 100px;
    background-color: #E5E7EB;
    gap: 10px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.speaker {
    font-weight: bold;
    font-size: 20px;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    margin: 0;
    padding: 50px 100px 50px 100px;
}

.blue-box {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 40px 80px 40px 80px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    font-size: 12px;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 24px 100px 24px 100px;
}

.box-title,
.box-subtext {
    color: #F9FAF8;
}

.box-title {
    font-size: 20px;
    font-weight: bold;
}

.box-subtext {
    font-size: 16px;
}